.img {
    height: 100%;
    width: 45%;
    background-image: url(../../assets/img/SpotlightOne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    float: left;
}

